dist
build
coverage
*.pyc
*.pyo
*.tmp*
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.db
*.ini
.coverage
.tox

buildout/.installed.cfg
buildout/build
buildout/buildout.cfg
buildout/bin
buildout/develop-eggs
buildout/downloads
buildout/eggs
buildout/parts
buildout/var
buildout/etc
